# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
abseil-cpp
aiohttp
aiosignal
annotated-types
arrow-cpp
asttokens
attrs
aws-c-common
aws-c-event-stream
aws-checksums
aws-sdk-cpp
backcall
blas
boost-cpp
bottleneck
brotli
brotli-bin
brotli-python
bzip2
c-ares
ca-certificates
catalogue
certifi
cffi
charset-normalizer
click
cloudpathlib
colorama
comm
confection
configparser
contourpy
cryptography
cycler
cymem
cython-blis
dataclasses
datasets
debugpy
decorator
dill
en-core-web-sm
et_xmlfile
executing
filelock
findspark
fonttools
freetype
frozenlist
fsspec
gensim
gflags
glog
grpc-cpp
huggingface_hub
icc_rt
idna
importlib-metadata
intel-openmp
ipykernel
ipython
jedi
jinja2
joblib
jpeg
jupyter_client
jupyter_core
kiwisolver
langcodes
lerc
libboost
libbrotlicommon
libbrotlidec
libbrotlienc
libcurl
libdeflate
libevent
libffi
libpng
libprotobuf
libsodium
libssh2
libthrift
libtiff
libuv
libwebp
libwebp-base
lz4-c
markdown-it-py
markupsafe
matplotlib-base
matplotlib-inline
mdurl
mkl
mkl-service
mkl_fft
mkl_random
mlxtend
mpmath
multidict
multiprocess
munkres
murmurhash
nest-asyncio
networkx
ninja
nltk
numexpr
numpy
numpy-base
openjdk
openpyxl
openssl
orc
packaging
pandas
parso
pathy
pickleshare
pillow
pip
platformdirs
preshed
prompt-toolkit
psutil
pure_eval
py4j
pyarrow
pyarrow-hotfix
pycparser
pydantic
pydantic-core
pygments
pymysql
pyparsing
pysocks
pyspark
python
python-dateutil
python-dotenv
python-tzdata
python-xxhash
python_abi
pytorch
pytz
pywin32
pyyaml
pyzmq
re2
regex
requests
rich
safetensors
scikit-learn
scipy
sentence-transformers
sentencepiece
setuptools
shellingham
six
smart_open
snappy
spacy
spacy-legacy
spacy-loggers
sqlite
srsly
stack_data
sympy
tbb
thinc
threadpoolctl
tk
tokenizers
torchvision
tornado
tqdm
traitlets
transformers
typer
typing-extensions
typing_extensions
tzdata
ucrt
urllib3
utf8proc
vc
vc14_runtime
vs2015_runtime
wasabi
wcwidth
weasel
wheel
win_inet_pton
xxhash
xz
yaml
yarl
zeromq
zipp
zlib
zstd
